<!DOCTYPE html>
<html>
  <head>
    <title>KampusNPA</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>

  </head>

  <body class="body-color2">

    <!-- LOADER CONTENT -->
    <%= render "shared/loader" %>

    <!-- NAVBAR CONTENT -->
    <%= render "shared/navbar" %>

    <!-- MAIN CONTENT -->
    <div id="content-block">
      <%= render "shared/head" %>
      <%= yield %>
    </div>

    <!-- FOOTER CONTENT -->
    <%= render "shared/footer" %>

    <div class="be-fixed-filter"></div>

    <!-- POPUP CONTENT -->
    <% if !user_signed_in? %>
      <%= render "shared/login" %>
      <%= render "shared/register" %>
    <% end %>

    <!-- CONFİG CONTENT -->
    <%= render "shared/config" %>

  </body>
</html>
